.navigation {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
}
.search-form [class^="icon-"] {
    position: absolute;
    top: 10px;
    left: 15px;
    color: #ccc;
    font-size: 16px;
}
.logo {
    font-size: 20px;
    color: #000!important;
    font-weight: 700;
    top: 6px;
    position: relative;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.search-form {
    position: relative;
    left: 35px;
}
    
.search-form [class^="bi"] {
    position: absolute;
    top: 10px;
    left: 15px;
    font-size: 12px;
}
.search-form input[type="search"] {
    padding-left: 40px;
    height: 38px;
    font-size: 14px;
}
.form-control {
    border-color: #ccc;
    border-radius: 30px;
}
.d-flex {
    display: flex!important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.social {
    top: 5px;
    position: relative;
    margin: 0;
}
.social li {
    display: inline-block;
    color: #000;


} 
ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
span {
    padding: 5px 10px;
}
/* Nav */
/*  */
    
    .nav {
        /* border: 1px solid gray; */
        position: relative;
    }
    
    .nav-toggle {
        position: absolute;
        cursor: pointer;
        font-size: 25px;
    }
    
    .nav-toggle>.close {
        display: none;
    }
    
    .nav-checkbox {
        display: none;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        margin: 10px;
        position: absolute;
        top: 25px;
        right: 10px;
    }
    
    .nav-menu>li {
        display: none;
        text-decoration: none;
        padding-top: 20px;
    }
    
    .nav-menu>li>a {
        text-decoration: none;
        font-size: 15px;
    }
    
    #nav-checkbox:checked~ul.nav-menu li {
        display: block;
    }
    
    #nav-checkbox:checked~label.nav-toggle .close {
        display: block;
    }
    
    #nav-checkbox:checked~label.nav-toggle .menu {
        display: none;
    }

/* Trending */
.section .heading {
    font-size: 40px;
    font-weight: 700;
}
.pad-top {
    padding-top: 3rem!important;
}