* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.top-header {
  background-color: #fef7f6;
  padding: 10px 0px 10px 0px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
body {
  font-family: "roboto", sans-serif;
  line-height: 27px;
  color: #000;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.row {
  display: flex;
}
.left-row {
  width: 50%;
  justify-content: flex-start;
}
.right-row {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.top-header span {
  color: #000;
  display: inline-block;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  position: relative;
  padding-right: 30px;
}
/* modify menu */

.d-flex {
  display: flex;
}
.menu {
  text-transform: uppercase;
  align-items: center;
  height: 90px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.menu-list {
  width: 500px;
}
.nav-icon {
  width: 120px;
  display: flex;
}
.icon {
  width: 40px;
}
.j-s-cen {
  justify-content: space-between;
}
.menu-item li .item-home-list a {
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.item-link {
  color: #000;
}
/* modify home  ;  .item   .item-link   .item-home-list  */
.menu-item {
  position: relative;
}
.item-home-list {
  position: absolute;
  display: none;
}
.item:hover > .item-link {
  background-color: #fff;
  color: red;
}
.item:hover > .item-home-list {
  display: block;
}
.item-home-link:hover {
  background-color: rgb(249, 243, 252);
  color: red;
}
.item-home-link {
  display: block;
  color: #000;
  white-space: nowrap;
}
.item-home {
  width: 220px;
  height: 50px;
  background-color: #fff;
}
/* modify van-icon */

.icon {
  color: #000;
  position: relative;
}
.itemCount {
  position: absolute;
  background-color: #ff5353;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  top: -10px;
  right: 10px;
  color: #fff;
  font-size: 8px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
/* Section Banner */
element.style {
  background-image: url(css/bg-1.jpg);
}

.banner {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
}

.container-2 {
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row-2 {
  display: flex;
}
.content-box {
  width: 475px;
  float: right;
  height: 262px;
  text-align: center;
  text-transform: uppercase;
}
.content-row {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tagline {
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: 2.8px;
  color: #565656;
}
.img-row {
  width: 50%;
}
h1 {
  color: #000;
  font-weight: 500;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 45px;
}
.button {
  background-color: #ff5353;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 0.8;
  min-width: 170px;
  padding: 20px 25px;
}
/* Featured product */
.featured-product {
  padding: 50px 0px 50px 0px;
}
.featured-heading {
  width: 100%;
  height: 123px;
  text-align: center;
}
.heading-tittle {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: 700;
}
/* products */
.products {
  width: 100%;
  display: flex;
}
.product {
  width: 400px;
}
.product-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.action-link {
  width: 100%;
  position: absolute;
  bottom: 60px;
  text-align: center;
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
  transition-delay: 0s;
  z-index: 100;
}
.action-link:hover {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
}
.pro-icon:hover {
  background-color: crimson;
  color: white;
}

.pro-icon {
  color: #000;
  display: inline-block;
  font-size: 14px;
  background-color: #fff;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  height: 50px;
  width: 50px;
}
.product-content,
p {
  text-align: center;
}
.rating-star {
  font-size: 13px;
  color: #ff5353;
}
/* section banner 2 */
.banner2 {
  background-color: #eae2d8;
}
.content-box-heading {
  font-family: "Dancing Script", cursive;
}
h4 {
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 54px;
  font-size: 1.5rem;
}
/* most-popular */
.most-popular {
  padding: 50px 0px 50px 0px;
}
.most-popular-heading {
  width: 100%;
  height: 123px;
  text-align: center;
}
.heading-tittle {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: 700;
}
/* Product - most */
.products-most {
  width: 100%;
  display: flex;
}
.product-most {
  width: 300px;
}
.product-most-item {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
/* policy */
.policy {
  padding-bottom: 50px;
}
.policy-list {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  width: 1200px;
}
.policy-item {
  width: 25%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  border: 1px solid #ebeef0;
  position: relative;
  padding: 25px;
}
.policy-item h5 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h5 {
  color: #000;
  line-height: 1.2;
}
img {
  padding: 0px 20px 0 20px;
}
/* silon Journal */
.silon {
  padding: 50px 0px 50px 0px;
}
.silon-heading {
  width: 100%;
  height: 123px;
  text-align: center;
}
.heading-tittle {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: #000;
  font-weight: 700;
}
.img-silon {
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.silon-contents {
  width: 100%;
  display: flex;
}
.silon-content {
  width: 400px;
}
.silon-item {
  padding: 0px 20px 0px 20px;
}
a {
  color: #000;
}
.post-title {
  font-size: 20px;
  line-height: 30px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(225, 225, 225);
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.date,
.meta-tag {
  font-size: 13px;
  position: relative;
  color: #888;
  display: inline-block;
  line-height: 18px;
}
.date:hover {
  color: #ff5353;
}
a:hover {
  color: #ff5353;
}
.meta-tags {
  padding: 0px 20px 0px 20px;
}
.meta-tag {
  padding-right: 10px;
}
/* [i-tag] {
    vertical-align: middle;
    margin-right: 10px;
} */

/* instagram */
.photo {
  position: relative;
}
