body {
  text-align: center;
  font-size: 15 px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
}
.tittle1 {
  color: crimson;
  text-align: end;
  text-decoration: darksalmon;
}
.tittle3 {
  color: chartreuse;
  text-align: left;
}
[href] {
  color: darkgreen;
  font-size: larger;
}
#text3 {
  border-style: inset;
  border-color: mediumslateblue;
}
.text2 {
  border-style: groove;
  border-color: olive;
  background-color: slategrey;
}
a {
  border-style: outset;
  border-color: violet;
}
