:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Kaushan Script", cursive;
  --bs-font-sans-serif: Roboto, system-ui, -apple-system, "Segoe UI",
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  color: #999999;
  font-size: 15px;
  line-height: 1.6;
  font-variant: normal;
  letter-spacing: normal;
}

/* Header */
.banner {
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.5) 0%,
      rgba(243, 129, 129, 0.5) 100%
    ),
    url(../img/picture.png);
}

.header {
  margin-bottom: 150px;
}

.navbar-light .navbar-brand {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  line-height: 1;
  color: rgb(255, 255, 255);
  padding: 20px 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #fce38a;
}

.banner-sub-heading {
  font-size: 72px;
  font-family: var(--secondary-font);
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

.banner-heading {
  font-size: 150px;
  font-family: var(--primary-font);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.933;
  text-align: center;
  margin-bottom: 60px;
}

.dashed {
  background-color: rgb(255, 255, 255);
  width: 60px;
  height: 3px !important;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.btn-learn-more {
  font-size: 14px;
  font-family: var(--primary-font);
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  border-style: solid;
  border-width: 3px;
  border-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0;
  padding: 10px 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}

.carousel-indicators {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
}

.carousel-indicators .indicator {
  box-sizing: border-box;
  flex: 1 1 auto;
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 0;
  margin-left: 0;
  cursor: pointer;
  text-indent: 0;
  background-color: transparent;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: opacity 0.6s ease;
}

.carousel-indicators .indicator:not(:last-child) {
  margin-right: 30px;
}

.indicator .timmer {
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative;
}

/* Pseudo Element */
.indicator .timmer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #999999;
}

.indicator.active .timmer::after {
  width: 100%;
  transition: width 3s;
}

.indicator .slide-number {
  font-size: 24px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
}

.indicator .text {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  line-height: 1.2;
}
/* Modify About */
.about-text {
  margin-top: 85px;
}

.about-sub-heading {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.about-heading {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.dashed2 {
  background-color: rgb(243, 129, 129);
  width: 60px;
  height: 3px !important;
  opacity: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.about-content {
  font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}
.about-pics {
  margin-top: 85px;
}
/* modify facts */
.facts {
  background-color: rgb(149, 225, 211);
  margin-top: 110px;
}
.text {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.number {
  padding-top: 65px;
  font-size: 72px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.fact-col {
  width: 20%;
  height: 280px;
}
/* modify service */
.service-text {
  margin-top: 85px;
}

.service-sub-heading {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.service-heading {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.icon {
  width: 20%;
}
.service-content {
  width: 80%;
}
span {
  font-size: 2rem;
  color: cornflowerblue;
}
.s-heading {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.service-row-1 {
  padding-bottom: 50px;
  padding-top: 60px;
}
.service-row-2 {
  padding-bottom: 120px;
  padding-top: 50px;
}
/* modify feature */
.feature {
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    url(../img/Rectangle\ 21.png);
}
.feature-text {
  margin-top: 85px;
}

.feature-sub-heading {
  font-size: 24px;
  font-family: "Kaushan Script";
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}
.feature-heading {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
.feature-picture {
  text-align: center;
  position: relative;
}
.pic-small {
  position: absolute;
  right: 250px;
  z-index: 10;
  bottom: -95px;
}
/* modify service 2 */
